---
import '../styles/global.css';
import { getNews } from '../utils/api'; // Importa la función para obtener las noticias
import SearchComponent from '../components/SearchComponent';

// Obtén las noticias desde Firebase
const news = await getNews();
import { getPosts } from '../utils/api'; // Importa la función para obtener los álbumes
import { getEvents } from '../utils/api';
// Filtra los álbumes de Reggaetón
const albums = await getPosts();
const latestNews = news.sort((a, b) => new Date(b.date) - new Date(a.date))[0];
const events = await getEvents(); // Obtén los eventos

---

<html lang="es">
  <meta charset="UTF-8">

  <body class="bg-gradient-to-b from-gray-50 via-white to-gray-100 text-gray-900">
    <!-- Barra de Navegación -->
    <nav class="absolute top-0 left-0 w-full text-white py-4 z-50">
      <div class="container mx-auto flex justify-between items-center px-6">
        <a href="/" class="flex items-center text-4xl font-extrabold tracking-wide hover:text-gray-200">
          Music Diggers<img src="logo1.png" alt="Music Diggers Logo" class="w-16 h-11 mr-2">
</a>
        <ul class="flex space-x-8">
          <SearchComponent client:load />
          <li><a href="/" class="hover:text-gray-300 text-lg transition-all duration-300">Inicio</a></li>
          <li><a href="/noticias" class="hover:text-gray-300 text-lg transition-all duration-300">Ultimas Noticias</a></li>
          <li><a href="/rap/usa" class="hover:text-gray-300 text-lg transition-all duration-300">Hip Hop USA</a></li>
          <li><a href="/rap/uk" class="hover:text-gray-300 text-lg transition-all duration-300">Hip Hop UK</a></li>
          <li><a href="/r&b" class="hover:text-gray-300 text-lg transition-all duration-300">R&B</a></li>
          <li><a href="/reggaeton" class="hover:text-gray-300 text-lg transition-all duration-300">Reggaeton</a></li>
          <li><a href="/afrobeat" class="hover:text-gray-300 text-lg transition-all duration-300">Afrobeats</a></li>
        </ul>
      </div>
    </nav>

    <!-- Hero Section -->
    <header
    class="relative text-white py-48"
    style={`background-image: url(${latestNews.image}); background-size: cover; background-position: center;`}
  >
    <div class="absolute inset-0 bg-black bg-opacity-60"></div>
    <div class="relative container mx-auto text-center px-8">
      <h1 class="text-6xl font-extrabold mb-6 drop-shadow-lg">Ultimas Noticias📰🌐</h1>
      <h1 class="text-3xl font-bold mb-6 drop-shadow-lg">{latestNews.title}</h1>
      <p class="text-lg italic mb-4">{latestNews.content.substring(0, 400)}...</p>
    </div>
  </header>

    <!-- Contenido Principal -->
    <main class="container mx-auto px-6 py-16">

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-16">
          {news.length > 0 ? (
            news.map(item => (
              <div class="bg-white shadow-2xl rounded-lg overflow-hidden hover:shadow-3xl transition-transform transform hover:scale-105" key={item.id}>
                <img src={item.image} alt={item.title} class="w-full h-48 object-cover hover:opacity-90 transition-all" />
                <div class="p-6">
                  <h3 class="text-2xl font-bold text-gray-900 truncate">{item.title}</h3>
                  <p class="text-gray-600 mt-2">{item.category}</p>
                  <p class="text-gray-400 text-sm mt-2">{item.date}</p>
                  <p class="text-gray-700 mt-4">{item.content.substring(0, 100)}...</p>
                  <a href={`/noticias/${item.id}`} class="mt-4 inline-block bg-gradient-to-r from-yellow-400 via-red-500 to-pink-600 text-white font-bold py-2 px-6 rounded-lg hover:from-blue-600 hover:to-indigo-800 transition-all">
                    Leer más
                  </a>
                </div>
              </div>
            ))
          ) : (
            <p class="text-center text-gray-700">No se encontraron noticias.</p>
          )}
        </div>

      <section class="mt-12">
        <hr class="border-t-2 border-gray-200 my-8">
        <h2 class="text-3xl font-bold text-center mb-6">Categorías Relacionadas</h2>
      
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-6">
          <!-- Primera Columna: Género 1 -->
          <div class="flex flex-col items-center">
            <h3 class="text-md font-semibold text-gray-600 mb-4">Afrobeats</h3>
            {albums
              .filter(album => album.genre === 'Afrobeats')
              .slice(0, 2)
              .map(album => (
                <div class="bg-white shadow-sm rounded overflow-hidden hover:shadow-md transition-transform transform hover:scale-105 mb-4 w-60" key={album.id}>
                  <div class="w-full">
                    <a href={`/blog/${album.id}`}>
                      <img src={album.coverImage} alt={album.title} class="w-full h-auto object-contain" />
                    </a>
                  </div>
                  <div class="p-2 text-center">
                    <h4 class="text-sm font-bold text-gray-800 truncate">
                      <a href={`/blog/${album.id}`} class="hover:text-indigo-500 transition-all">{album.title}</a>
                    </h4>
                    <p class="text-xs text-gray-500">{album.artist}</p>
      
                  </div>
                </div>
              ))}
          </div>
      
          <!-- Segunda Columna: Género 2 -->
          <div class="flex flex-col items-center">
            <h3 class="text-md font-semibold text-gray-600 mb-4">Reggaeton</h3>
            {albums
              .filter(album => album.genre === 'Reggaeton')
              .slice(0, 2)
              .map(album => (
                <div class="bg-white shadow-sm rounded overflow-hidden hover:shadow-md transition-transform transform hover:scale-105 mb-4 w-60" key={album.id}>
                  <div class="w-full">
                    <a href={`/blog/${album.id}`}>
                      <img src={album.coverImage} alt={album.title} class="w-full h-auto object-contain" />
                    </a>
                  </div>
                  <div class="p-2 text-center">
                    <h4 class="text-sm font-bold text-gray-800 truncate">
                      <a href={`/blog/${album.id}`} class="hover:text-indigo-500 transition-all">{album.title}</a>
                    </h4>
                    <p class="text-xs text-gray-500">{album.artist}</p>
      
                  </div>
                </div>
              ))}
          </div>
      
          <!-- Tercera Columna: Género 3 -->
          <div class="flex flex-col items-center">
            <h3 class="text-md font-semibold text-gray-600 mb-4">Hip Hop USA</h3>
            {albums
              .filter(album => album.genre === 'Rap (USA)')
              .slice(0, 2)
              .map(album => (
                <div class="bg-white shadow-sm rounded overflow-hidden hover:shadow-md transition-transform transform hover:scale-105 mb-4 w-60" key={album.id}>
                  <div class="w-full">
                    <a href={`/blog/${album.id}`}>
                      <img src={album.coverImage} alt={album.title} class="w-full h-auto object-contain" />
                    </a>
                  </div>
                  <div class="p-2 text-center">
                    <h4 class="text-sm font-bold text-gray-800 truncate">
                      <a href={`/blog/${album.id}`} class="hover:text-indigo-500 transition-all">{album.title}</a>
                    </h4>
                    <p class="text-xs text-gray-500">{album.artist}</p>
      
                  </div>
                </div>
              ))}
          </div>
        </div>
        <hr class="border-t-2 border-gray-200 my-8">
      
      </section>

      <section class="bg-orange-400 py-10">
        <div class="container mx-auto px-6">
          <h2 class="text-4xl font-bold text-center mb-12 text-gray-800">Próximos Eventos🎵🔥</h2>
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            {events.map(event => (
              <div key={event.id} class="bg-white shadow-md rounded-lg p-6">
                <h3 class="text-2xl font-bold mb-4">{event.title}</h3>
                <p class="text-gray-600 mb-2">
                  <strong>Fecha:</strong> {new Date(event.date).toLocaleDateString()}
                </p>
                <p class="text-gray-600 mb-2">
                  <strong>Ubicación:</strong> {event.location}
                </p>
                <p class="text-gray-600 mb-2">
                  <strong>Géneros:</strong> {event.genres.join(', ')}
                </p>
                <p class="text-gray-600 mb-2">
                  <strong>Artistas:</strong> {event.artists.slice(0, 3).join(', ')} {event.artists.length > 3 ? 'y más...' : ''}
                </p>
                <p class="text-gray-800 font-bold">
                  <strong>Precio General:</strong> €{event.price.general.toFixed(2)} | <strong>VIP:</strong> €{event.price.vip.toFixed(2)}
                </p>
              </div>
            ))}
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer class="bg-gray-900 text-gray-400 py-10 mt-20">
      <!-- Fondo cubriendo todo el ancho -->
      <div class="w-full">
        <!-- Contenido centrado -->
        <div class="max-w-7xl mx-auto text-center px-6">
          <p class="text-lg font-semibold text-gray-200">Gracias por visitar Music Diggers</p>
          <p class="text-sm mt-4">&copy; 2025 Music Diggers. Todos los derechos reservados.</p>
          <div class="mt-6 space-x-8">
            <a href="#" class="text-orange-400 hover:text-orange-500 transition-all">Facebook</a>
            <a href="#" class="text-orange-400 hover:text-orange-500 transition-all">Twitter</a>
            <a href="#" class="text-orange-400 hover:text-orange-500 transition-all">Instagram</a>
          </div>
        </div>
      </div>
    </footer>
    
    
  </body>
</html>
